*{
  margin:0px;
  padding: 0px;
  box-sizing: border-box;
}
h2{
  text-align: center;
  color:white;
  text-transform: uppercase;
  margin-top: 10px;
}
.main-container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
}
/* @media screen and (max-width:460px){ */
  /* .main-container{
    display: flex;
    justify-content: center;
    margin-top:10px;
  } */
  /* .container{
   background-color: darkslategrey;
   border-radius: 10px;
   box-shadow: 2px 5px 10px gray;
   width:100%;
   height:400px;
  }
} */
.container{
  
    background: dodgerblue linear-gradient(22deg, aqua, dodgerblue, deeppink) fixed;
    color: white;
    font: normal 32px/1.6 system-ui, sans-serif;
    text-shadow: 0 1px 1px hsl(0 0% 0% / 20%);
    margin: 3rem;
    width: 70%;
}
.from-body{
  margin: 50px;
}
input{
  width: 20%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-left: 70px;
}
.span-intext{
  margin-left: 4px;
  font-size: 20px;
}
button{
      /* border-radius: 10px; */
      margin-top: 62px;
      margin-left: auto;
      margin-right: auto;
      border: 0px;
      /* width: 110px; */
      padding: 15px 20px;
      background-color: #f72c99;
      display: block;
      cursor: pointer;
      color: white;
  }
button:hover{
  background-color: rgb(24, 179, 24);
  transition: 1s;
  color:white;
}
.result-btn{
  /* background-color: aliceblue; */
  /* box-shadow: inset 2px 5px 10px gray; */
  /* border-radius: 10px; */
  /* width:270px; */
  padding: 20px;
  margin-top: 37px;
  margin-left: 25px;
  font-family: emoji;
}
body{
  background-color: #c4cdd5;
}
.live-chart{
  text-align: center;
  text-decoration: underline;
  color: red;
  margin-top: 20px;
  margin-bottom: 25px;
}



/* text hide and show */
.head{
  display: flex;
  justify-content: center;
  align-items: center;
}
.para{
  flex-direction: column;
  border: 2px solid rgb(226, 19, 199);
  padding: 20px;
  margin: 100px;
  width: 40%;
}
.paragraph{
  text-align: center;
  text-transform: uppercase;
  color: brown;
  text-decoration: underline;
  font-size: 30px;
  margin-bottom: 10px;
}
.toggle{
  border: 1px solid black;
  padding: 10px;
  cursor: pointer;
}

@media (max-width:600px){
  .container {
    background: dodgerblue linear-gradient(22deg, aqua, dodgerblue, deeppink) fixed;
    color: white;
    font: normal 32px/1.6 system-ui, sans-serif;
    text-shadow: 0 1px 1px hsl(0deg 0% 0% / 20%);
    margin: 10px;
    width: 100%;
}
h2{
  font-size: 40px;
}
.from-body{
  margin: 0;
}
input {
  width: 65%;
  padding: 12px 20px;
  margin: 8px 0;
  display: block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}
.span-intext {
  margin-left: 4px;
  font-size: 20px;
  display: none;
}
.result-btn p{
  font-size: 20px;
}
}
